@charset "UTF-8";
/* 전체 화면 style 영역 */
a{
	cursor:pointer;
}
*{
	font-family: 'LeferiBaseType-RegularA';
    margin: 0;
    padding: 0;
    list-style: none;
  	color: black;
  	text-decoration: none; 
}
body{
	top:0;
	left:0;
	overflow:hidden;
	width: 1920px;
}
@font-face {
    font-family: 'LeferiBaseType-RegularA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/LeferiBaseType-RegularA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
#header{
	top:0;
	border:1px solid #333;
	float:left;
	position:absolute;
	width:105rem;
	left:15rem;
	height:4rem;
}
#menuList{
	top:0;
	left:0;
	border:1px solid #333;
	float:left;
	position:absolute;
	width:15rem;
	height:100%;
	background-color : #E6E6E6;
}
#contents{
	position:absolute;
	top:4rem;
	left:15rem;
	width:100vw;
}
/* 로고 div 영역 */
#logo{
	width:15rem;
	height:5rem;
	background-color:#E6E6E6;
	overflow: hidden;
	margin-bottom: 1.8rem;
}
#logo_img{
	margin:0 auto;
	margin-top:0.6rem;
	width:12rem;
	height:4rem;
	background: url("../image/Logo.png") no-repeat;
	background-size : 12rem;
}

 /* 메뉴에 있는 로그아웃, 프로필 */
#myPic, #logOutBtn{
	float: right;
	margin-right:1rem;
}
/* 사진영역  */
#myPic {
	background-color:#c0c0c0;
	width: 6rem;
	height:4rem;
text-align: center;
}
/* 로그아웃 버튼 */
#logOutBtn {
	background-color:#c0c0c0;
	width: 7rem;
	height: 2.5rem;
	text-align: center;
	margin-top: 1rem;
	line-height: 30px;
}
/* 아코디언 메뉴 설정 */

.mainMenu{
    width: 250px;
    display: block;
    border-radius: 10px;
    overflow: hidden;
}
.item{
    overflow: hidden;
}
.btn{
    display: block;
    padding: 15px 20px;
    position: relative;
    font-weight: bold;
    cursor:pointer;

}
.btn:before{
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    right: 15px;
    bottom: -10px;
    z-index: 9;
    
}
.btn i {
    margin-right: 10px;
}
.subMenu{
    overflow: hidden;
    transition: max-height 0.4s;
    max-height: 0;
    margin-left:1.3rem;
}
.subMenu a{
    display: block;
    padding: 15px 20px;
    font-size: 14px;
    position: relative;
    
}
.subMenu a:before{
    content: '';
    opacity: 0;
    transition: opacity 0.3s;

}
.subMenu a:hover:before{
    content: '';
    position: absolute;
    height: 0;
    width: 6px;
    left: 0;
    top:0;
    opacity: 1;

}
.subMenu a:after{
    content: '';
    opacity: 0;
    transition: opacity 0.3s;

}
.subMenu a:hover:after{
    content: '';
    position: absolute;
    height: 0;
    width: 6px;
    right: 0px;
    top:0;
    opacity: 1;

}
.subMenu a:hover{
     transition: all 0.3s;

}
.subMenu a:last-child{
    border:none;
}
.item:target .subMenu{
    max-height: 20em;
}




/*작은 버튼*/
.btnStyle{
	flex-flow: nowrap;
    width: 7rem;
    padding: .2em .45em;
	background-color: #fdfdfd;
	color: #999;
	cursor: pointer;
	border: 1px solid #ebebeb;
	border-radius: .25em;
}









