@charset "UTF-8";
/* 양식관리 페이지 */


#FormSetName {
	
	margin-left: 3rem;
    margin-top: 2rem;
	margin-bottom: 2rem;
}
#manageFormSide {
    top: 4rem;
    left: 3rem;
    width: 70rem;
    height: 30rem;
    position: relative;
    display: flex;
    justify-content: space-between;
}
	

#category {
	flex-flow: nowrap;

}
#addCategory {
	margin-right: 2rem;width: 6rem;
}
#modCategory {
	margin-right: 2rem;width: 6rem;
}
#delCategory {
	/* margin-right: 2rem; */
		width: 6rem;
}

#formListSide {
	flex-flow: nowrap;
}
#addForm {
	margin-right: 2rem;
}
#addForm, #delForm{
	
 margin-bottom: 2rem;
 
}
#FormListTitle {
	    width: 5rem;
	        position: static;
	    margin-bottom: 2rem;
}
#FormList {
	border: 1px solid #666666;
    height: 30rem;
    width: 26rem;
    overflow: scroll;
}


#CategoryList {
	border: 1px solid #666666;
    height: 30rem;
    width: 26rem;
    overflow: scroll;
}
#searchForm {
	margin-top: 2rem;
	margin-bottom: 2rem;
	width: 13rem;
    height: 1.5rem;
}