@charset "UTF-8";
/* 전체 화면 style 영역 */
a{
	cursor:pointer;
}
*{
	font-family: 'LeferiBaseType-RegularA';
    margin: 0;
    padding: 0;
    list-style: none;
  	color: black;
  	text-decoration: none; 
}
body{
	top:0;
	left:0;
	overflow:hidden;
	width: 1920px;
}
@font-face {
    font-family: 'LeferiBaseType-RegularA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/LeferiBaseType-RegularA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
#header{
	top:0;
	border:1px solid #333;
	float:left;
	position:absolute;
	width:105rem;
	left:15rem;
	height:4rem;
}
#menuList{
	top:0;
	left:0;
	border:1px solid #333;
	float:left;
	position:absolute;
	width:15rem;
	height:100%;
	background-color : #E6E6E6;
}
#contents{
	position:absolute;
	top:4rem;
	left:15rem;
	width:100vw;
}
/* 로고 div 영역 */
#logo{
	width:15rem;
	height:5rem;
	background-color:#E6E6E6;
	overflow: hidden;
	margin-bottom: 1.8rem;
}
#logo_img{
	margin:0 auto;
	margin-top:0.6rem;
	width:12rem;
	height:4rem;
	background: url("../image/Logo.png") no-repeat;
	background-size : 12rem;
}

 /* 메뉴에 있는 로그아웃, 프로필 */
#myPic, #logOutBtn{
	float: right;
	margin-right:1rem;
}
/* 사진영역  */
#myPic {
	background-color:#c0c0c0;
	width: 6rem;
	height:4rem;
text-align: center;
}
/* 로그아웃 버튼 */
#logOutBtn {
	background-color:#c0c0c0;
	width: 7rem;
	height: 2.5rem;
	text-align: center;
	margin-top: 1rem;
	line-height: 30px;
}
/* 아코디언 메뉴 설정 */

.mainMenu{
    width: 250px;
    display: block;
    border-radius: 10px;
    overflow: hidden;
}
.item{
    overflow: hidden;
}
.btn{
    display: block;
    padding: 15px 20px;
    position: relative;
    font-weight: bold;
    cursor:pointer;

}
.btn:before{
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    right: 15px;
    bottom: -10px;
    z-index: 9;
    
}
.btn i {
    margin-right: 10px;
}
.subMenu{
    overflow: hidden;
    transition: max-height 0.4s;
    max-height: 0;
    margin-left:1.3rem;
}
.subMenu a{
    display: block;
    padding: 15px 20px;
    font-size: 14px;
    position: relative;
    
}
.subMenu a:before{
    content: '';
    opacity: 0;
    transition: opacity 0.3s;

}
.subMenu a:hover:before{
    content: '';
    position: absolute;
    height: 0;
    width: 6px;
    left: 0;
    top:0;
    opacity: 1;

}
.subMenu a:after{
    content: '';
    opacity: 0;
    transition: opacity 0.3s;

}
.subMenu a:hover:after{
    content: '';
    position: absolute;
    height: 0;
    width: 6px;
    right: 0px;
    top:0;
    opacity: 1;

}
.subMenu a:hover{
     transition: all 0.3s;

}
.subMenu a:last-child{
    border:none;
}
.item:target .subMenu{
    max-height: 20em;
}
/* 관리자 대시보드- 관리자 리스트 */
/* 리스트 틀 */

#managerInfo {
	margin-top : 6rem;
}

#manager_name {
	float:left;
    margin-left: 2rem;
	padding: 20px;
}

#manager_dept {
	float:left;
	padding: 20px;
	margin-left: 7rem;
}
#manager_num {
	float:left;
	padding: 20px;
	margin-left: 7rem;
}
#manager_dir {
	float:left;
	padding: 20px;
	margin-left: 7rem;
}
hr {
	width: 80vw;
}

/*멤버 접속 로그 */
/* 이름, input, 검색버튼을 감싸는 div */
#searchUser {
display: flex;
    top: 4rem;
    left: 3rem;
    width: 25rem;
    padding: 20px;
    box-shadow: 7px 7px 7px gray;
    position: relative;
    justify-content: space-between;
}
#nameSide {
	flex-flow: nowrap;

}
/* 인풋박스 */
#searchMemberBox {
		    flex-flow: nowrap;
    width: 250px;

}

#SearchMemberLog {

	flex-flow: nowrap;
    width: 3rem;
     height: 1.8rem;
    background-color: #17B69B;
    border: none;
}


/* 멤버 접속로그를 보여주는 리스트의 타이틀 전체 div */
#memberLogInfo {
		float:left;
	    margin-top: 15rem;
}

#memberLogInfo_time{
	float:left;
	 margin-right: 5rem;
    margin-left: 7rem;
}
#memberLogInfo_name{
	    margin-right: 7rem;
		float:left;
}
#memberLogInfo_dept{
		float:left;
		margin-right: 7rem;
}
#memberLogInfo_state{
		float:left;
		margin-right: 7rem;
}
#memberLogInfo_category{
		float:left;
		margin-right: 7rem;
}
#memberLogInfo_ip{
		float:left;
}

/* 멤버 접속 로그 */

#accessIpForm{
    top: 4rem;
    left: 3rem;
    width: 50rem;
    height: 25rem;
    padding: 20px;
    box-shadow: 7px 7px 7px grey;
    position: relative;
	
}

p{
	margin-bottom: 20px;
}

#ipBox {
	display:flex;
	    margin-top: 20px;
    margin-bottom: 20px;
}
#select-id {
	flex-flow: nowrap;
	margin-right: 5px;
}
.inputIp {
	flex-flow: nowrap;
	    width: 50px;
}
#accessBtn {
	display:flex;
	    margin-top: 20px;
    margin-bottom: 20px;
}
#SetAccessIp {
	flex-flow: nowrap;
	
	margin-right: 3px;
}
#DelAccessIp {
	flex-flow: nowrap;

}


.btnStyle{
	flex-flow: nowrap;
  /*   width: 4rem;
     height: 1.8rem;
    background-color: #17B69B;
    border: none;
     cursor:pointer; */
     width: 4rem;
    padding: .2em .45em;
	background-color: #fdfdfd;
	color: #999;
	cursor: pointer;
	border: 1px solid #ebebeb;
	border-radius: .25em;
}

.ipList {
	 border: 1px solid #888888;
    width: 37rem;
    height: 10rem;
    overflow: scroll;
}

/* 관리자 권한 설정 */
#managerPrivilege {
	    top: 4rem;
    left: 3rem;
     width: 29rem;
    height: 30rem;
    padding: 20px;
   
    position: relative;
    flex-flow: nowrap;
	
}
.addManager {
	margin-top: 20px;
    margin-bottom: 20px;
}

.memberList {
	border: 1px solid #888888;
    width: 25rem;
    height: 17rem;
    margin-top: 15px;
    overflow: scroll;
}
.searchManager{
	  width: 13rem;
	 height: 1.8rem;
}
#contentSide {
	display:flex;
}

/* 오른쪽 영역 */
#managerListSide {
	flex-flow: nowrap;
	    top: 4rem;
    left: 5rem;
     width: 29rem;
    height: 30rem;
    padding: 20px;
  
    position: relative;
}
#delManager{
	margin-top: 20px;
    margin-bottom: 20px;
}
#managerListSideTitle {
	display:flex;
	    justify-content: space-around;
	     position: static;
}
.managerList {
	border: 1px solid #888888;
    width: 25rem;
    height: 17rem;
    overflow: scroll;
    margin-top: 15px;
}
.managerPrivilegeName {
	flex-flow: nowrap;
}
.managerPrivilegedept {
		flex-flow: nowrap;
}


/* 멤버 통합관리 페이지 */
#allContentsSide {

		  top: 4rem;
    left: 3rem;
     width: 50rem;;
    height: 30rem;
    padding: 20px;
   /*   box-shadow: 7px 0px 0px 0px grey;*/
    position: relative;
	
}

.MoveAddMember{
	float:left;
	margin-right: 2rem;
}
.DeleteMember{
float:left;
	margin-right: 2rem;
}
.UnlockMember {
float:left;
}

#table1 {
	left:0;

}
#fields{

	margin-top: 5rem;
	
}
.td0{
	margin-right: 3rem;
}
.td1{
	margin-right: 5rem;
}
.td2{
	margin-right: 5rem;
}
.td3{
	margin-right: 5rem;
}
.td4{
	margin-right: 5rem;
}
.td5{
	    margin-right: 5rem;
}

/* 멤버 추가 */
.addMemberTitle {
    margin-left: 3rem;
    margin-top: 2rem;
}
#newMemberInfo{
	
	position:relative;
	border: 1px solid #333;
	top: 4rem;
	left: 3rem;
	width:7rem;
	height:7rem;
	text-align:center;
	
}
#newmemberPicture{
	
	width: 100%;
}
#newMemberFile{
	margin-top: 7rem;
	margin-left: 3rem;
	
}
#newMemberFile label {
	display: inline-block;
	padding: .2em .45em;
	background-color: #fdfdfd;
	color: #999;
	cursor: pointer;
	border: 1px solid #ebebeb;
	border-radius: .25em;
}
#input_file {
	position: absolute;
	padding:0;
	border:0;
	margin:-1px;
	overflow:hidden;
	clip: rect(0,0,0,0);
}

.inputBox {
	width:  150px;
	margin-left: 2rem;
}
.select-box {
		width:  100px;
	margin-left: 2rem;
}

/* 이름 아이디~ 전체 영역 */
#inputInfo{
	align-items: baseline;
	display: flex;
}
/* 제목 */
#addMemberSide {
	margin-left: 3rem;
       margin-top: 4rem;
   flex-flow:nowrap;
}

#inputBoxSide {
	
	 right: 20%;
}
#addBtnSide {
	margin-top: 3rem;
}

#newMemberName {
	margin-bottom: 20px;
}
#newMemberId {
	margin-bottom: 20px;
}
#newMemberPassword {
	margin-bottom: 20px;
}
#newMemberPositon {
	margin-bottom: 20px;
}
#newMemberDept {
	margin-bottom: 20px;
}
#selectPosition {
	margin-bottom: 20px;
}

#isEmail {
	margin-left: 2rem;
}

/* 멤버 수정 */
.modMemberTitle {
    margin-left: 3rem;
    margin-top: 2rem;
}
#modMemberSide {
	margin-left: 3rem;
  margin-top: 12rem;
  	flex-flow:nowrap;
}
#modBtnSide {
	margin-top: 3rem;
	  flex-flow:nowrap;
}

/* 부서별 페이지 */

.deptInfoTitle{
	margin-left: 3rem;
    margin-top: 2rem;
	margin-bottom: 2rem;
}

#memberInfoSide {
	height: 30rem;
	width: 70rem;
	border: 1px solid #666666;
	margin-left: 3rem;
}
#memberList_title {
	display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-around;
        margin-top: 30px;
}
.selectDeptBox {
	margin-left: 3rem;
		margin-bottom: 2rem;
}
#member_name {
	flex-flow:nowrap
}
#member_potition{
	flex-flow:nowrap
}
#member_email{
	flex-flow:nowrap
}
#member_num{
	flex-flow:nowrap
}
#member_dir{
	flex-flow:nowrap
}


