@charset "UTF-8";
/* 관리자 대시보드- 관리자 리스트 */
/* 리스트 틀 */

#managerInfo {
	margin-top : 6rem;
}

#manager_name {
	float:left;
    margin-left: 2rem;
	padding: 20px;
}

#manager_dept {
	float:left;
	padding: 20px;
	margin-left: 7rem;
}
#manager_num {
	float:left;
	padding: 20px;
	margin-left: 7rem;
}
#manager_dir {
	float:left;
	padding: 20px;
	margin-left: 7rem;
}
hr {
	width: 80vw;
}

